//COLOR VARIABLES
$red: hsl(0, 78%, 62%);
$cyan: hsl(180, 62%, 55%);
$orange: hsl(34, 97%, 64%);
$blue: hsl(212, 86%, 64%);
$color-blue-dark: hsl(234, 12%, 34%);
$color-blue-grey: hsl(229, 6%, 66%);
$color-grey-light: hsl(0, 0%, 98%);

//FONT VARIABLES
$font-default: 'Poppins', sans-serif;

//MIXINS
@mixin flex {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

//RESPONSIVE BREAKPOINTS
$bp-huge: 90em;    //1440px
$bp-small:  23.4em;   //375px

//BASE
*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}

html {
    font-size: 62.5%;  //10px
    box-sizing: border-box;
}

body {    
    font-family: $font-default;
    font-weight: 400;
    line-height: 1.6;
    color: $color-blue-grey;    
    background-color: $color-grey-light;
}